name: mysql
services:
  mysql:
    image: mysql:8.0.40
    container_name: mysql
    privileged: true
    # restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      TZ: Asia/Shanghai
    command:
      --wait_timeout=31536000
      --interactive_timeout=31536000
      --max_connections=1000
      --default-authentication-plugin=mysql_native_password
    volumes:
      - "./data:/var/lib/mysql"
      - "./conf.d:/etc/mysql/conf.d"
      - "./logs:/logs"
    networks:
      public:
        ipv4_address: 172.18.0.6


networks:
  public:
    name: public
    external: true
    ipam:
      driver: default
      config:
        - subnet: '172.18.0.0/16'
